<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sip.pengenumroh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Order2Activity"
            android:parentActivityName=".OrderActivity" ></activity>
        <activity
            android:name=".OrderActivity"
            android:parentActivityName=".DetailPesananActivity" />
        <activity android:name=".FavoritActivity" />
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity android:name=".DetailPesananActivity" />
        <activity android:name=".PesananActivity" />
        <activity android:name=".AkunActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="Daftar Akun" />
        <activity android:name=".DashboardActivity" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="544ff378536f524ca9b029e3c750ec0083b74133" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>